<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Kitchen Garden</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.2/js.cookie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone.js"></script>

  <script src="js/app.js"></script>
  <script src="js/models/product.js"></script>
  <script src="js/collections/products.js"></script>
  <script src="js/views/layout_view.js"></script>
  <script src="js/router/app_router.js"></script>
  <script src="js/views/create_herb_kit_view.js"></script>
  <script src="js/views/herb_kit_options_view.js"></script>
  <script src="js/models/user_signup.js"></script>
  <script src="js/views/signup_view.js"></script>
  <script src="js/views/user_profile_view.js"></script>
  <script src="js/views/login_view.js"></script>
  <script src="js/models/user.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">
</head>
<body>

  <div class="page-wrapper"></div>

  <script type="text/x-underscore-template" id="user-profile">
    <div class="user-details">
      <h2>Your details:</h2>
      <p>Email: <%= email %></p>
      <p>Password: ********</p>
    </div>
    <div>
      <h2>Recent orders:</h2>
    </div>
  </script>

  <script type="text/x-underscore-template" id="login-form">
    <h2 id="login-h2">Please enter your login details</h2>
    <form id="login">
        <input type="text" id="email" name="email" placeholder="Please enter your email"/>
        <input type="password" id="password" name="password" placeholder="Please enter your password"/>
        <input type="submit" value="Login" class="submit"/>
    </form>
  </script>

  <script type="text/x-underscore-template" id="signup-form">
    <h2 id="signup-h2">Sign up here</h2>
    <form id="signup">
        <input type="text" id="name" name="name" placeholder="Please enter your name"/>
        <input type="text" id="email" name="email" placeholder="Please enter your email"/>
        <input type="password" id="password" name="password" placeholder="Please enter your password"/>
        <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Please confirm your password"/>
        <input type="submit" value="Sign up" class="submit"/>
    </form>
  </script>

  <script type="text/x-underscore-template" id="product-option-view">
      <img src="<%= image %>" class="options-img">
      <p class="options-info"><%= name %></p>
      <p class="options-info">£<%= price %></p>
  </script>
    
  <script type="text/x-underscore-template" id="create-herb-kit-view">
    <h3>Build your own Kitchen Garden</h3>
    <svg version="1.1"
     baseProfile="full"
     xmlns="http://www.w3.org/2000/svg" id="create-product-display"></svg>
    <div class="create-product-options">
      <div>
        <h3>Planters <i class="fa fa-arrow-down"></i></h3>
        <ul class="planter-options"></ul>
      </div>
      <div>
        <h3>Herbs <i class="fa fa-arrow-down"></i></h3>
        <ul class="herb-options hide"></ul>
      </div>
      <div>
        <h3 class="checkout">Happy? Checkout here...</h3>
      </div>
    </div>
  </script>
  

  <script type="text/x-underscore-template" id="layout-view">
    <nav>
      <a href="#"  class="nav-link">HOME</a>
      <a href="#create" class="nav-link">CREATE YOUR OWN</a>
      <a href="#products" class="nav-link">PRODUCTS</a>
      <a href="#signup" class="nav-link">Sign Up</a>
      <a href="#login" class="nav-link">Log In</a>
      <a href="#logout" class="nav-link">Log Out</a>

    </nav>

    <div class="content"></div>

    <footer>
      <a href="#about"  class="footer-link">ABOUT</a>
      <a href="#contact"  class="footer-link">CONTACT</a>
    </footer>
  </script>

  

  
</body>
</html>