/********************
LAYOUT
*********************/

.page-wrapper {
  max-height: 560px;
}

div, h3 {
  margin: 0;
  height: 100%;
}

.nav-link, .footer-link {
  margin-right: 20px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(61, 66, 63);
}

.nav-link:hover {
  border-bottom: 2px solid rgb(61, 66, 63);
}

.logged-in, .logged-out {
  font-size: 15px;
}

nav, footer {
  background-color: rgb(210, 227, 214);
  height: 60px;
  line-height: 60px;
}

nav {
  text-align: right;
  border-bottom: 2px dotted rgb(61, 66, 63);
}

footer {
  border-top: 2px dotted rgb(61, 66, 63);
  text-align: center;
  clear: both;
}

.brand-name {
  float: left;
  padding-left: 20px;
}

.brand-name:hover {
  border: none;
}

/********************
CONTENT
*********************/

.content {
  min-height: 560px;
  text-align: center;
}

/********************
SIGNUP PAGE
*********************/

#signup, #login {
  display: block;
  text-align: center;
}

input {
  display: block;
  margin: 30px auto;
  width: 250px;
  border: 2px solid rgb(61, 66, 63);
}

input[type="submit"] {
  width: 100px;
  background-color: rgb(61, 66, 63);
  color: rgb(210, 227, 214);
  border-radius: 10px;
  border: 2px solid rgb(210, 227, 214);
}

#signup-h2, #login-h2 {
  margin-top: 100px;
  color: rgb(61, 66, 63);
}

/********************
ACCOUNT PAGE
*********************/

.user-details, .recent-orders-list {
  text-align: left;
  margin: 30px;
  color: rgb(61, 66, 63);
}

/********************
CREATE HERB KIT PAGE
*********************/

h3 {
  text-align: center;
  height: 50px;
  padding: 20px;
  background-color: rgb(61, 66, 63);
}

.herb-kit-wrapper {
  margin-top: 40px;
}

#create-product-display, .create-product-options {
  min-height: 700px;
  display: inline-block;
  float: left;
  text-align: left;
}

#create-product-display {
  width: 70%;
}

.create-product-options {
  width: 30%;
}

.create-product-options h3 {
  background-color: rgb(210, 227, 214);
  border: 2px dotted rgb(61, 66, 63);
  color: rgb(61, 66, 63);
  height: 25px;
}

.create-product-options h3 i {
  float: right;
}

.checkout {
  background-color: rgb(134, 145, 138);
}

.herb-option, .planter-option {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.options-img {
  height: 100px;
}

.hide {
  display: none;
}

/********************
HOME PAGE
*********************/

.home-content {
  min-height: 580px;
  background-image: url("../images/windowsill2.jpg");
  background-size: cover;
}

.home-content h2 {
  padding-top: 200px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

#grow-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 2px solid white;
}

/********************
SHOPPING CART
********************/

.cart-item-img, .cart-item {
  display: inline-block;
  min-height: 200px;
  width: 200px;
  vertical-align: top;
}

.cart-item {
  width: 300px;
  margin: 0;
  line-height: 200px;
}

.cart-item-img {
  min-height: 200px;
  max-height: 200px;
}

.cart-item-wrapper {
  text-align: top;
  vertical-align: center;
}

.remove-cart-item {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  padding-top: 85px;
}







